/metravision.config.yml

/Traqumoto/Applications

/Traqumoto/Traqumoto

/Traqumoto/mv.config.lua

__pycache__
*.pyc

*.xlsx

.vscode

/C:

ctags.exe
/lib/conda
/lib/miniconda
/lib/miniconda3

# Sphinx
*.rst
_build
Makefile
conf.py